[Unit]
    Description=avt019-v2 server

[Service]
    Type=forking
    Restart=always
    RuntimeMaxSec=300
    ExecStart=/home/linadl/rgr_avt019_v2/server
    WorkingDirectory=/home/linadl/rgr_avt019_v2

[Install]
    WantedBy=multi-user.target