[Unit]
    Description=avt019-13 server daemon

[Service]
    Type=forking
    Restart=always
    RuntimeMaxSec=300
    ExecStart=/home/linadl/projects/c/NSTU_Programming/semester3/coursework/bin/server/server
    WorkingDirectory=/home/linadl/projects/c/NSTU_Programming/semester3/coursework/bin/server

[Install]
    WantedBy=multi-user.target